#map{
    height: 100vh;
}

#map-container{
    position: relative;
    
}

/* search button */
#search-container{
    position: absolute;
    top:2%;
    left: 2%;
    z-index: 300000;
    background-color: rgba(255, 255,255, 0.5);
    min-height: 25px; 
    width: 360px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px; 
}

/* @media screen(max-width:600px) {
    #search-container{

    }
    
} */

#results {
    max-height: 300px;
    overflow-y:scroll;
    z-index: 300000;
}


.search-result {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    color: black;
    margin:5px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.search-result:hover{
    box-shadow: inset 300px 0 0 0 #74cdee;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    
}

.popup{
    overflow: scroll;
    width:300px;
    height:300px;  
}

.loc-pic{
    border-radius: 50%;
    width: 80%;
    align-self: center;
}

.loc-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.loc-text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.error-pic{
    width: 100%;
    height: 300px;
}



/* Explore-container */
.radioFont{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.radioFont:hover{
    color:#74cdee;
    font-size: 1.2rem;
}

.panel-font{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}



/* Weather-container */

.weather-div{
    
    background-image:url(/TGC-Project-01/images/weather-img.png);
    background-size: cover;
    
}
.weather-icon{
    width:180px;
    align-self: center;
}

.weather-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    
}

.weather-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem ;
    text-align: center;
}

.weather-date{
    font-family: 'roboto',sans-serif;
    text-align: center;
}

.leaflet-control-zoom{
 left: 95vw;
 top: 5vh;
}

/* leaflet-zoom-icon */
@media screen and (max-width:767px) {
    .leaflet-control-zoom{
        left: 90vw;
        top: 3vh;
    }    
}


